<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'profile_view/style.css' %}">
    <link rel="stylesheet" href="{% static 'navigation_bar/style.css' %}">
</head>
<body>
    {% include 'navigation_bar/navigation.html' %}
    <div class="container">
        <ul class="information">
            <li>
                <p style="font-size: 30px; font-family: 'Times New Roman';"><strong>{{ user_profile.name }}</strong></p>
                <p style="font-family: 'Times New Roman'"><strong>{{ user_profile.role }}</strong></p>
            </li>
            {% if user_profile.email %}
            <li>
                <p>Email</p>
                <p style="font-family: 'Times New Roman'">{{ user_profile.email }}</p>
            </li>
            {% endif %}
            {% if user_profile.phone %}
            <li>
                <p>Phone</p>
                <p style="font-family: 'Times New Roman'">{{ user_profile.phone }}</p>
            </li>
            {% endif %}
            {% if user_profile.address %}
            <li>
                <p>Address</p>
                <p style="font-family: 'Times New Roman'">{{ user_profile.address }}</p>
            </li>
            {% endif %}
            {% if isAdmin or self %}
            <li>
                <p><a href="/create-user/{{ username }}" style="color: blue">Edit</a></p>
            </li>
            {% endif %}
        </ul>
        {% if user_profile.courses_assigned %}
        <div class="Course">
            {% if user_profile.role == "Instructor" %}
                <h2>Course Section</h2>
            {% elif user_profile.role == "TA" %}
                <h2>Lab Section</h2>
            {% endif %}
            <dic class="label">
                <p>Course Code</p>
                <p>Semester</p>
                <p>Course Name</p>
                <p>Section Code</p>
            </dic>
            <ul class="course-container">
                {% for course in user_profile.courses_assigned %}
                    <li>
                        <a id="course-link" href="/course/{{ course.code }}/{{ course.semester }}">{{ course.code }}</a>
                        <p>{{ course.semester }}</p>
                        <p>{{ course.name }}</p>
                        <ul class="section-container">
                            {% if user_profile.role == "Instructor" %}
                            {% for section in course.course_sections %}
                                <p>{{ section.section_number }} {{ section.instructor.name }}</p>
                            {% endfor %}
                            {% endif %}

                            {% if user_profile.role == "TA" %}
                            {% for section in course.lab_sections %}
                                <p>{{ section.section_number }}</p>
                                <p>{{ section.instructor.name }}</p>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>

        </div>
        {% endif %}
    </div>
</body>
</html>