/* Universal */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}
.information {
    display: flex;
    justify-content: space-between;
}
.information li {
    display: inline;
}
.container {
    max-width: 95%;
    margin: 100px auto 50px;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Header */
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
