header {
    background-color: black;
    width: 100%;
    height: 50px;
    position: fixed;
    top:0;
}

nav {
    display: flex;
    justify-content: space-between;
}
nav ul li a:hover {
    color: papayawhip;
}
.operation li, .account li{
    display: inline;
    margin: 10px;
}
li a {
    color: white;
    text-decoration: none;
}