body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
h1 {
    text-align: center;
    color: cornflowerblue;
    margin-bottom: 20px;
}
label {
    margin: 10px 0 5px;
    font-weight: bold;
}
input,select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
}
#submit {
    margin-left: 0;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}
#submit:hover {
    background-color: #4cae4c;
}