body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.container {
    max-width: 95%;
    margin: 100px auto 50px;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.infoAndButton{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.button {
    background-color: lightgreen;
    color: black;
    text-decoration: none;
    border: 1px solid gray;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}
.button:hover {
    background-color: green;
}
/* Header */
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}